
body{
    background-color: #edf3f3;
    color: #0e2445;
    font-family: 'Mukta Mahee', sans-serif;
}
h1 {
    font-weight: 700;
    font-family: 'Palanquin Dark', sans-serif;
}


.autor{
    background-color: #edf3f3;
}

.btn-outline-secondary{
    color: #0e2445;

}
.btn-outline-secondary a:hover{
    color: #edf3f3;
    background-color: #edf3f3;

}
.articulo{
    text-align: justify;
}

.fuente{
    font-size: xx-small;
    text-align: right;
    line-height: 1.3em;
}

.container-fluid.encabezado {
    background-color: #516179;
    background: no-repeat center 100% url(../images/encabezado_back.jpg);
    max-height: 183px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom:30px;
    padding-top: 30px;
    width: 100%;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
.navbar-collapse {
    align-items: center;
    width: 100%;
    z-index: 1000;
    color: white;
 }

/* @media (min-width: 992px)
.navbar-collapse {
    z-index: 1000;
    /* background-color: #ffffff;/ 
} */

img.rounded-circle.img-thumbnail.top-content.center {
 margin-top: -50px;
    margin-left: 31%;
}

h4.card-title.mb-0 {
    font-size: 1em;
}
p.card-text.mb-0 {
    font-size: .8em;
}
small.text-muted {
    font-size: .7em;
}
img.rounded-circle.img-thumbnail.autor-a {
    margin-top: 1.5em;
}

.boton-titulo {
    border: hidden;
    background: none;
    text-align: left;
    font-weight: inherit;
    outline: none;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 255);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: underline;
}

a.nav-link {
    color: #ffffff;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

a.nav-link.active {
    color: #ffffff;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: underline;
}

.navbar-light .navbar-text {
    color: rgba(255,255,255,255);
}

.navbar-light .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%255, 255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}